@using NetCoreTemplate.DAL.Permissions
@using NetCoreTemplate.Web.Extensions
@using Type = NetCoreTemplate.DAL.Permissions.Type
@using Action = NetCoreTemplate.DAL.Permissions.Action
@model NetCoreTemplate.ViewModels.Interfaces.IBaseAuthenticationViewModel
<li class="nav-divider">
    Menu
</li>
<li class="nav-item ">
    <a class="nav-link active" href="#">
        <i class="fa fa-fw fa-user-circle"></i>Dashboard 
    </a>
</li>